.form-login {
    padding: 3rem;
    position: relative;
    width: 100%;
    z-index: 2;
    transform: scale(0.8);
}

.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    img {
        height: auto;
        width: 180px;
        
    }
}

h1 {
    margin-bottom: 1rem;
}

.form-ctrl {
    margin-bottom: 1rem;
    input {
        border-radius: 20px;
        border: 2px #000 solid;
        width: 100%;
        padding: 1rem 22px;
        &:focus {
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border: 2px #0047FF solid;
        }
    }
}

.btn {
    margin-top: 2rem;
    input {
        font-weight: bold;
        letter-spacing: 0.1rem;
        background-color: #0047FF;
        border-radius: 20px;
        color: #fff;
        border: none;;
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 0.5rem;

        &:focus {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 1;
        }
    }

    p {
        span {
            color: #0047FF;
            text-decoration: underline;
            cursor: pointer;
            &:active {
                opacity: 0.5;
            }
        }
    }
}

.signup {
    text-align: center;
}

@media (min-width: 700px) {
    .form-login {
        transform: scale(1);
        padding: 2rem;
    }

    .form-ctrl {
        input {
            font-size: 12px;
        }
    }

    .form-login {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    .form-login {
        transform: scale(0.8);
    }

    .icon {
        img {
            width: 160px;
        }
    }
}